*{
    padding: 0;
    margin: 0px;
    font-size: 25px;
}

img{
    height: 300px;
    width: 300px;
}

button{
    background-color: #ED661F;
    color: white;
    padding: 10px;
}

.header{
    background-color: black;
    color: white;
    padding: 20px;
}

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 50px;
}

.nav-links a{
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    
}

nav{
    display: flex;
    padding:20px 100px;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.Agriplus{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    border-top: 2px solid white;
    padding: 80px;
}

.Buying{
    display: flex;
    margin: 50px 20px;
    justify-content: space-between;
    background-image: url("./images/image\ 1.png");
    background-size: contain;
    padding: 50px;
}

.image{
    float: right;
    width: 50%;
}

.image>img{
    width: 800px;
    height: 500px;
}
.vendors{
    margin-left: 400px;
    margin-right: 400px;
    list-style: none;
    display: flex;
    padding: 20px;
    position: relative;
    justify-content: space-between;
    border: 5px solid white;
    box-shadow: 5px 5px 2px grey;
    
}

.exist{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.wexist{
    width: 700px;
}

.products{
    margin: 50px;
}

.categories{
    text-align: center;
    padding: 100px;
    margin-bottom: 20px;
}


.row{
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
}

.customers{
    margin: 50px;
}

.feedback{
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
}

#box1,#box2,#box3{
    width: 400px;
    padding: 20px;
    border: 2px solid white;
    box-shadow: 2px 5px 10px grey;
}


.text{
    margin-bottom: 120px;
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000px;
    font-style: oblique;
}

#box1>img{
    width: 75px;
    height:75px;
    position: relative;
}

.imageName{
    position: absolute;
    left: 200px;
    bottom: -2029px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
}
.Doe{
    position: absolute;
    left: 800px;
    bottom: -2029px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
}

#box2>img{
    width: 75px;
    height:75px;

    position: relative;
}

#box3>img{
    width: 75px;
    height:75px;
    position: relative;
}
.Lavi{
    position: absolute;
    left: 1400px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
    bottom: -2029px;
}



.see,.read{
    padding: 50px;
    text-align: right;
    color: black;
}

.newsletter{
    padding: 50px;
    text-align: center;
}

table{
    margin-left: 650px;
    background-color: white;
    color: black;
    margin-top: 20px;
}



.conclusion{
    text-align: center;
}

h2{
    /* text-decoration: underline; */
    font-size: 30px;
}

.rating {
    color:#ED661F ;
    font-size: 0px;
    text-align: justify;
}

