*{
    padding: 0;
    margin: 0px;
    font-size: 25px;
}

img{
    height: 200px;
    width: 200px;
}

p{
    text-align: ;
}

.header{
    background-color: black;
    color: white;
    padding: 20px;
}

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 50px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav{
    display: flex;
    padding:20px 100px;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.Agriplus{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    border-top: 2px solid white;
    padding: 80px;
}

.Buying{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    background-image: url("./images/image\ 1.png");
    background-size: auto;
}

.vendors{
    margin: 20px;
}

.exist{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.products{
    margin: 20px;
}

.popular{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.newest{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.customers{
    margin: 20px;
}

.feedback{
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
}

#box1,#box2,#box3{
    height: 200px;
    padding: 20px;
    border: 2px solid blue;
    box-shadow: 2px 5px 10px grey;
}

.read{
    padding: 50px;
}

.see{
    padding: 50px;
}

.newsletter{
    padding: 50px;
    text-align: center;
}

.conclusion{
    text-align: center;
}

h2{
    text-decoration: underline;
}